<div class="m-4">
    <div class="card">
        <div class="card-header">
            <h2>Settings</h2>
        </div>
        <div class="card-body">
            <button type="button" id="btnCreateDatabase" class="btn btn-primary container-fluid "
                    (click)="btnCreateDatabase_click()">Create Database
            </button>
            <div class="m-4"></div>
            <button type="button" id="btnClearDatabase" class="btn btn-danger container-fluid"
                    (click)="btnClearDatabase_click()">Clear Database
            </button>

        </div>

    </div>
</div>
